body{
  font-family: 'Montserrat', sans-serif;
  background-color: #F2F2F2;
}
a{
  color: black;
}

@import url('https://fonts.googleapis.com/css?family=Merienda');

.header{
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  .header_left{
    width: 95px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .header_right{
    display: flex;
    align-items: center;
    li{
      margin-left: 25px;
      a{
        font-size: 1rem;
        color: black;
      }
    }
  }
}

.main_visual{
  display: flex;
  .main_visual_left{
    position: relative;
    width: 63%;
    overflow: hidden;
    margin:0 auto;
    img{
      max-width: 100%;
      height: 100%;
      border-top-right-radius: 85px;
    }
    .photo{
      width: 100%;
      height: auto;
      display: block;
    }
    .main_visual_title{
      right: 20%;
      top: 65px;
      position: absolute;
      writing-mode: vertical-rl;
      height: 390px;
      font-size: 1.25rem;
      color: rgb(0 0 0 / 64%);
      letter-spacing: 6px;
      p:nth-of-type(2) {
        padding-top: 100px;
      }
    }
    canvas{
      position: absolute;
      bottom: 0;
      left:0;
      width: 100%;
    }
  }
  .main_visual_right{
    width: 37%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .right_top{
      margin-bottom: 17px;
    }
    .right_bottom p{
      font-size: 0.625rem;
      text-align: center;
    }
    .right_bottom p:nth-of-type(1) {
      font-size: 1.25rem;
    }
  }
}
.main_content{
  padding: 0 190px;
  .company_explanation{
    position: relative;
    .company_founding_reason, .our_thoughts{
      width: 720px;
      margin-bottom: 70px;
      h1{
        font-family: 'Amatic SC', cursive;
        font-size: 3.15rem;
        margin-bottom: 15px;
      }
      p{
        font-size: 1rem;
        letter-spacing: 2px;
        line-height: 25px;
        padding-left: 25px;
      }
    }
    img{
      opacity: 0.4;
      position: absolute;
      right: 11%;
      top: 7px;
      width: 35%;
    }
  }
  .our_memory{
    display: flex;
    margin: 230px 0;
    position: relative;
    height: 500px;
    .memory_image{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      z-index: 2;
      img{
        width: 330px;
        height: 500px;
        object-fit: cover;
        position: absolute;
      }
      img:nth-of-type(1) {
        left: 17%;
        top: -25%;
      }
      img:nth-of-type(2) {
        right: 17%;
        top: 25%;
      }
    }
    .dotted_line_box{
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-image: repeating-linear-gradient(-16deg, #333333, #333333 7px, transparent 7px, transparent 13px, #333333 13px), repeating-linear-gradient(74deg, #333333, #333333 7px, transparent 7px, transparent 13px, #333333 13px), repeating-linear-gradient(164deg, #333333, #333333 7px, transparent 7px, transparent 13px, #333333 13px), repeating-linear-gradient(254deg, #333333, #333333 7px, transparent 7px, transparent 13px, #333333 13px);
      background-size: 2px calc(100% + 13.52px), calc(100% + 13.52px) 2px, 2px calc(100% + 13.52px), calc(100% + 13.52px) 2px;
      background-position: 0 0, 0 0, 100% 0, 0 100%;
      background-repeat: no-repeat;
      animation: borderAnimation 0.8s infinite linear;
    }
    p{
      position: absolute;
      right: 0;
      top: -11%;
      font-family: 'Amatic SC', cursive;
      font-size: 5rem;
      transform: rotate(-20deg);
    }
  }
}

.menu_content{
  padding: 127px 190px 75px 190px;
  background: url("../image/circle.png") repeat;
  animation: fall 18s infinite linear;
  background-size: contain;
  background-color: #E3E2E0;
  position: relative;
  .menu_content_title{
    font-family: "Amatic SC", cursive;
    font-size: 6.25rem;
    color: #00000075;
    font-weight: bold;
    position: absolute;
    top: 0;
    transform: rotate(5deg);
  }
  .menu_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 505px;
    a{
      height: 230px;
      border-radius: 20px;
      background: antiquewhite;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-position: center;
      color: white;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 23%);
        border-radius: 20px;
      }
      &:hover::before{
        background-color: rgb(0 0 0 / 0%);
      }
      div{
        text-align: center;
        font-family: 'Amatic SC', cursive;
        z-index: 1;
        p{
          font-size: 1.5rem;
          margin-bottom: 5px;
        }
        h3{
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
    }
    a:nth-of-type(1){
      width: 62%;
      background-image: url('../image/S__55779361.jpg');
    }
    a:nth-of-type(2){
      width: 36%;
      background-image: url('../image/25803090_s.jpg');
    }
    a:nth-of-type(3){
      width: 49%;
      background-image: url('../image/2805271_s.jpg');
    }
    a:nth-of-type(4){
      width: 49%;
      background-image: url('../image/AdobeStock_358963151_Preview.jpeg');
    }
  }
}

.sub_content{
  .sub_footer_icon{
    display: block;
    margin: 50px auto;
    position: relative;
  }
  .line{
    background: black;
    width: 1px;
    height: 67px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .slider {
    margin: 0 -13px; /* 一枚一枚の間隔を13pxに設定 */
    img{
      width: 240px;
      height: 220px; /* 一枚の写真のサイズを240px × 240pxに設定 */
      margin: 0 13px; /* 一枚一枚の間隔を13pxに設定 */
    }
  }
  p{
    text-align: center;
    margin: 58px 0;
    font-weight: bold;
    font-family: sans-serif;
  }
  a{
    display: block;
    background: #EBDC1F;
    width: 9%;
    margin: 0 auto;
    text-align: center;
    padding: 9px 0px;
    border-radius: 10px;
    font-family: 'Amatic SC', cursive;
    font-size: 1.25rem;
  }
}

footer{
  text-align: center;
  background: #E3E2E0;
  .footer{
    display: flex;
    padding: 30px 190px;
    margin-top: 150px;
    .footer_left{
      width: 38%;
      text-align: center;
      border-right: 1px solid black;
    }
    .footer_right{
      width: 52%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-family: 'Amatic SC', cursive;
      font-size: 26px;
    }
  }
  p{
    padding: 25px 0 10px 0;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    font-size: 1.625rem;
  }
}


@keyframes wave {
	0% {
		transform:translateX(0px);
	}
  50% {
    transform: translateX(15%);
  }
	100% {
		transform:translateX(0px);
	}
}

@keyframes borderAnimation {
	from { background-position: 0 0, -13.52px 0, 100% -13.52px, 0 100%; }
  to { background-position: 0 -13.52px, 0 0, 100% 0, -13.52px 100%; }
}

@keyframes fall {
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: -700px 700px;
  }
}