body{
  font-family: "Amatic SC",'Montserrat', sans-serif;
  background-color: #F2F2F2;
  max-width: 1440px;
  margin: 0 auto;
}
a{
  color: black;
}

@import url('https://fonts.googleapis.com/css?family=Merienda');
// 共通
// ヘッダースタイル
.header{
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  .header_left{
    width: 95px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .header_right{
    display: flex;
    align-items: center;
    li{
      margin-left: 25px;
      a{
        font-size: 1.6rem;
        color: black;
      }
    }
  }
}

// 共通
// ボタンスタイル
.btn_24 {
	padding: 10px 13px;
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 12%;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #EAD817;
  color: #EAD817;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.2s ease-in;
  margin: 50px 0 0 90px;
}
.btn_24:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn_24:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #EAD817;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn_24:hover {
  color: #ffffff;
  border: 1px solid #EAD817;
}

.btn_24:hover:before {
  top: -35%;
  background-color: #EAD817;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn_24:hover:after {
  top: -45%;
  background-color: #EAD817;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

// TOPページ
.main_visual{
  display: flex;
  .main_visual_left{
    position: relative;
    width: 63%;
    overflow: hidden;
    margin:0 auto;
    img{
      max-width: 100%;
      height: 100%;
      border-top-right-radius: 85px;
    }
    .photo{
      width: 100%;
      height: auto;
      display: block;
    }
    .main_visual_title{
      right: 20%;
      top: 65px;
      position: absolute;
      writing-mode: vertical-rl;
      height: 390px;
      font-size: 1.25rem;
      color: rgb(0 0 0 / 64%);
      letter-spacing: 6px;
      p:nth-of-type(2) {
        padding-top: 100px;
      }
    }
    canvas{
      position: absolute;
      bottom: 0;
      left:0;
      width: 100%;
    }
  }
  .main_visual_right{
    width: 37%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .right_top{
      margin-bottom: 17px;
    }
    .right_bottom p{
      font-size: 0.625rem;
      text-align: center;
    }
    .right_bottom p:nth-of-type(1) {
      font-size: 1.25rem;
    }
  }
}
.main_content{
  padding: 0 190px;
  .company_explanation{
    position: relative;
    .company_founding_reason, .our_thoughts{
      width: 720px;
      margin-bottom: 70px;
      h1{
        font-family: 'Amatic SC', cursive;
        font-size: 3.15rem;
        margin-bottom: 15px;
      }
      p{
        font-size: 1rem;
        letter-spacing: 2px;
        line-height: 25px;
        padding-left: 25px;
      }
    }
    img{
      opacity: 0.4;
      position: absolute;
      right: 11%;
      top: 7px;
      width: 35%;
    }
  }
  .our_memory{
    display: flex;
    margin: 230px 0;
    position: relative;
    height: 500px;
    .memory_image{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      z-index: 2;
      img{
        width: 330px;
        height: 500px;
        object-fit: cover;
        position: absolute;
      }
      img:nth-of-type(1) {
        left: 17%;
        top: -25%;
      }
      img:nth-of-type(2) {
        right: 17%;
        top: 25%;
      }
    }
    .dotted_line_box{
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-image: repeating-linear-gradient(-16deg, #333333, #333333 7px, transparent 7px, transparent 13px, #333333 13px), repeating-linear-gradient(74deg, #333333, #333333 7px, transparent 7px, transparent 13px, #333333 13px), repeating-linear-gradient(164deg, #333333, #333333 7px, transparent 7px, transparent 13px, #333333 13px), repeating-linear-gradient(254deg, #333333, #333333 7px, transparent 7px, transparent 13px, #333333 13px);
      background-size: 2px calc(100% + 13.52px), calc(100% + 13.52px) 2px, 2px calc(100% + 13.52px), calc(100% + 13.52px) 2px;
      background-position: 0 0, 0 0, 100% 0, 0 100%;
      background-repeat: no-repeat;
      animation: borderAnimation 0.8s infinite linear;
    }
    p{
      position: absolute;
      right: 0;
      top: -11%;
      font-family: 'Amatic SC', cursive;
      font-size: 5rem;
      transform: rotate(-20deg);
    }
  }
}
.menu_content{
  padding: 127px 190px 75px 190px;
  background: url("../image/circle.png") repeat;
  animation: fall 18s infinite linear;
  background-size: contain;
  background-color: #E3E2E0;
  position: relative;
  .menu_content_title{
    font-family: "Amatic SC", cursive;
    color: #00000075;
    font-weight: bold;
    position: absolute;
    font-size: 4.25rem;
    top: 23px;
    transform: rotate(5deg);
  }
  .menu_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 480px;
    a{
      height: 230px;
      border-radius: 20px;
      background: antiquewhite;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-position: center;
      color: white;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 23%);
        border-radius: 20px;
      }
      &:hover::before{
        background-color: rgb(0 0 0 / 0%);
      }
      div{
        text-align: center;
        font-family: 'Amatic SC', cursive;
        z-index: 1;
        p{
          font-size: 1.5rem;
          margin-bottom: 5px;
        }
        h3{
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
    }
    a:nth-of-type(1){
      width: 55%;
      background-image: url('../image/S__55779361.jpg');
    }
    a:nth-of-type(2){
      width: 43%;
      background-image: url('../image/25803090_s.jpg');
    }
    a:nth-of-type(3){
      width: 49%;
      background-image: url('../image/2805271_s.jpg');
    }
    a:nth-of-type(4){
      width: 49%;
      background-image: url('../image/AdobeStock_358963151_Preview.jpeg');
    }
  }
}

// 問い合わせページ
.container{
  padding: 0 190px;
  .contact_page_title{
    width: 20%;
    height: 56px;
    display: flex;
    margin-bottom: 51px;
    img{
      width: 29%;
      height: 100%;
    }
    .contact_title_right{
      margin-left: 9px;
      line-height: 27px;
      p{
        font-family: "Amatic SC", cursive;
        font-size: 21px;
      }
      h3{
        font-size: 23px;
      }
    }
  }
  .contact_tel, .contact_mail, .contact_line{
    margin-bottom: 80px;
    h2{
      font-size: 1.25rem;
      font-weight: bold;
      border-bottom: 1px solid black;
      padding-bottom: 5px;
    }
    .contact_detail{
      display: flex;
      height: 50px;
      margin: 15px 20px;
      align-items: center;
      img{
        height: 100%;
      }
      .contact_detail_p{
        margin-left: 29px;
        font-size: 1.25rem;
      }
    }
    p{
      line-height: 22px;
      margin-top: 25px;
    }
  }
}

// 代表挨拶ページ
.representatice_container{
  display: flex;
  justify-content: space-between;
  height: 690px;
  margin-bottom: 164px;
  padding: 0 0 0 100px;
  .representatice_page_title{
    width: 32%;
    height: 56px;
    display: flex;
    margin-bottom: 51px;
    img{
      width: 29%;
      height: 100%;
    }
    .representatice_title_right{
      margin-left: 9px;
      line-height: 27px;
      p{
        font-family: "Amatic SC", cursive;
        font-size: 17px;
      }
      h3{
        font-size: 23px;
      }
    }
  }
  .message{
    line-height: 22px
  }
  .message_left{
    width: 45%;
    margin-right: 35px;
    height: 100%;
    .contact_page_title{
      width: 32%;
      height: 56px;
      display: flex;
      margin-bottom: 37px;
    }
    .message_bottom{
      width: 100%;
      height: 56px;
      display: flex;
      margin-top: 32px;
      a{
        width: 23%;
        height: 38px;
        margin: 0;
      }
      .representative_name{
        text-align: right;
        width: 77%;
        font-family: 'Toppan Bunkyu Midashi Mincho';
        h4:nth-of-type(1){
          margin-bottom: 5px;
        }
        h4:nth-of-type(2){
          font-size: 1.25rem;
        }
      }
    }
  }
  .message_right{
    width: 50%;
    position: relative;
    display: flex;
    img:nth-of-type(1){
      position: absolute;
      height: 960px;
      top: -93px;
      left: -85px;
    }
    img:nth-of-type(2){
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// 経歴ページ
.career_container{
  display: flex;
  padding: 0 80px;
  .career_left{
    width: 60%;
    position: relative;
    .career_images{
      position: relative;
      .career_representative_name{
        position: absolute;
        z-index: 2;
        top: 34%;
        right: 17%;
        p{
          font-size: 2.25rem;
          color: black;
          font-family: YuKyokasho Yoko;
          font-weight: bold;
          position: relative;
          z-index: 1;
          left: 1%;
        }
        span{
          bottom: -4px;
          left: 44%;
          position: absolute;
          font-family: Caveat;
          font-size: 1.4rem;
          width: 70%;
          color: white;
        }
      }
      img{
        width: 100%;
        position: relative;
        z-index: 1;
      }
      .background_image{
        background: rgba(121, 121, 121, 0.631372549);
        color: white;
        text-align: center;
        width: 71%;
        margin: 0 auto;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        p{
          font-family: YuKyokasho Yoko;
        }
      }
    }
    .center_content{
      align-items: center;
      position: absolute;
      justify-content: space-around;
      display: flex;
      flex-direction: column;
      top: 0;
      z-index: 1;
      right: -7%;
      width: 14%;
      height: 79%;
      img{
        background: #F2F2F2;
        width: 100%;
        border-radius: 150%;
        padding: 14px;
      }
    }
  }
  .career_right{
    width: 40%;
    margin-left: 102px;
    .career_content{
      margin-bottom: 36px;
      line-height: 24px;
      .career_title{
        margin-bottom: 10px;
        background: #EAD817;
        width: 25%;
        text-align: center;
        padding: 5px 0;
        font-weight: bold;
        font-size: 0.8rem;
      }
    }
    .achievement{
      line-height: 28px;
      .achievement_title{
        margin-bottom: 10px;
        background: #EAD817;
        width: 25%;
        text-align: center;
        padding: 5px 0;
        font-weight: bold;
        font-size: 0.8rem;
        line-height: 24px;
      }
      div{
        margin-bottom: 20px;
        p:nth-of-type(2){
          padding-left: 10px;
        }
      }
    }
  }
}

// 事業内容トップ画面ぺージ
.business_top_image{
  width: 100%;
  height: 530px;
  object-fit: cover;
}
.business_container{
  padding: 0 190px;
  .business_page_title{
    width: 41%;
    height: 56px;
    display: flex;
    margin: 15px 0 50px 0;
    img{
      width: 13%;
      height: 100%;
    }
    .business_title_right{
      margin-left: 9px;
      line-height: 27px;
      p{
        font-family: "Amatic SC", cursive;
        font-size: 17px;
      }
      h3{
        font-size: 23px;
      }
    }
  }
  .business_content{
    display: flex;
    justify-content: space-between;
    .business_content_left{
      width: 41%;
      padding-top: 40px;
      h1{
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 33px;
      }
      p{
        line-height: 26px;
        margin-left: 24px;
      }
    }
    .business_content_right{
      width: 47%;
      img{
        width: 100%;
      }
    }
  }
}
.business_introduction{
  margin-top: 150px;
  margin-bottom: 100px;
  .introduction_title{
    display: flex;
    align-items: center;
    padding: 0 190px;
    h2{
      font-weight: bold;
      font-size: 1.2rem;
      margin-right: 10px;
      position: relative;
    }
  }
  h1{
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 190px;
  }
  .three_business{
    display: flex;
    flex-direction: column;
    .homepage, .sns, .money{
      display: flex;
      padding: 75px 190px;
      .homepage_left, .sns_left, .money_left{
        width: 40%;
        h2{
          font-weight: bold;
          font-size: 4.5rem;
          line-height: 62px;
          display: inline;
          font-family: 'Amatic SC';
          color: #A36A00;
        }
        span{
          font-size: 1.5rem;
        }
        p{
          font-weight: bold;
        }
      }
      .homepage_right, .sns_right, .money_right{
        display: flex;
        width: 60%;
        align-items: center;
        line-height: 32px;
      }
    }
    .homepage{
      border-top: 1px solid #A0A0A0;
    }
    .sns{
      border-top: 1px solid #A0A0A0;
      border-bottom: 1px solid #A0A0A0;
    }
    .money{
      border-bottom: 1px solid #A0A0A0;
    }

    a:hover{
      background: #bababa;
      color: white;
      transition: 0.5s;
    }
  }
}

// サービス ホームページ支援画面
.detail_title{
  width: 100%;
  height: 220px;
  background: #E3E2E0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../image/circle2.png") repeat;
  animation: fall 18s infinite linear;
  h1{
    font-size: 5rem;
  }
}
.homepage_container{
  padding: 0 190px;
  h3{
    font-size: 1.5rem;
    text-align: center;
    margin: 50px;
    font-weight: bold;
  }
  .service_homepage_content{
    display: flex;
    justify-content: space-between;
    .service_homepage_content_left{
      width: 58%;
      height: 100%;
      line-height: 26px;
      padding-top: 40px;
    }
    .service_homepage_content_right{
      width: 33%;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
.service_content{
  margin-top: 75px;
  margin-bottom: 120px;
  .service_lsits{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    .service_part_row{
      display: flex;
      margin-bottom: 20px;
      justify-content: space-between;
      .service_part{
        width: 29%;
        text-align: center;
        img{
          width: 28%;
          height: 39%;
        }
        p:nth-of-type(1){
          font-size: 1.2rem;
          margin: 20px 0;
        }
        p:nth-of-type(2){
          text-align: left;
        }
      }
    }
  }
}

// サービス マネーリテラシー
.money_container{
  padding: 0 190px;
  h3{
    font-size: 1.5rem;
    text-align: center;
    margin: 50px;
    font-weight: bold;
  }
  .money_introduction{
    line-height: 25px;
    margin-bottom: 85px;
  }
}

.service_lsits_row{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
  .service_part_row{
    display: flex;
    align-items: center;
    img{
      margin-right: 10px;
    }
    p{
      padding-bottom: 5px;
      width: 41%;
      border-bottom: 1px solid #868686;
    }
  }
}

// 特徴 共通スタイル
.feature_title{
  font-size: 1.3rem;
  margin: 25px 0;
}
.feature_list{
  font-size: 1.05rem;
  line-height: 45px;
  letter-spacing: 2px;
}
.free_consultation{
  margin: 70px 0 40px 0;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
.contact_homepage{
  padding: 20px;
  width: 30%;
  margin: 0 auto;
}

// 共通ボタン
.introduction_title_share{
  display: flex;
  align-items: center;
  h2{
    font-size: 2rem;
    font-weight: bold;
  }
  span{
    font-size: 1.5rem;
    margin-left: 10px;
  }
}

// 共通
// フッタースタイル
.sub_content{
  .sub_footer_icon{
    display: block;
    margin: 100px auto;
    position: relative;
  }
  .line{
    background: black;
    width: 1px;
    height: 67px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .slider {
    margin: 0 -13px; /* 一枚一枚の間隔を13pxに設定 */
    img{
      width: 200px;
      height: 200px; /* 一枚の写真のサイズを240px × 240pxに設定 */
      margin: 0 13px; /* 一枚一枚の間隔を13pxに設定 */
      object-fit: cover;
    }
  }
  p{
    text-align: center;
    margin: 58px 0;
    font-weight: bold;
    font-family: sans-serif;
  }
  a{
    display: block;
    background: #EBDC1F;
    width: 9%;
    margin: 0 auto;
    text-align: center;
    padding: 9px 0px;
    border-radius: 10px;
    font-family: 'Amatic SC', cursive;
    font-size: 1.25rem;
  }
}

footer{
  text-align: center;
  background: #E3E2E0;
  .footer{
    display: flex;
    padding: 30px 190px;
    margin-top: 150px;
    .footer_left{
      width: 38%;
      text-align: center;
      border-right: 1px solid black;
    }
    .footer_right{
      width: 52%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-family: 'Amatic SC', cursive;
      font-size: 26px;
    }
  }
  p{
    padding: 25px 0 10px 0;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    font-size: 1rem;
  }
}


@keyframes wave {
	0% {
		transform:translateX(0px);
	}
  50% {
    transform: translateX(15%);
  }
	100% {
		transform:translateX(0px);
	}
}

@keyframes borderAnimation {
	from { background-position: 0 0, -13.52px 0, 100% -13.52px, 0 100%; }
  to { background-position: 0 -13.52px, 0 0, 100% 0, -13.52px 100%; }
}

@keyframes fall {
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: -700px 700px;
  }
}