@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merienda");
body {
  font-family: "Amatic SC", "Montserrat", sans-serif;
  background-color: #F2F2F2;
}

a {
  color: black;
}

.header {
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
}
.header .header_left {
  width: 95px;
}
.header .header_left img {
  width: 100%;
  height: 100%;
}
.header .header_right {
  display: flex;
  align-items: center;
}
.header .header_right li {
  margin-left: 25px;
}
.header .header_right li a {
  font-size: 1.6rem;
  color: black;
}

a.btn_24 {
  padding: 10px 13px;
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 12%;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #EAD817;
  color: #EAD817;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.2s ease-in;
  margin: 50px 0 0 90px;
}

a.btn_24:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

a.btn_24:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #EAD817;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

a.btn_24:hover {
  color: #ffffff;
  border: 1px solid #EAD817;
}

a.btn_24:hover:before {
  top: -35%;
  background-color: #EAD817;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

a.btn_24:hover:after {
  top: -45%;
  background-color: #EAD817;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.main_visual {
  display: flex;
}
.main_visual .main_visual_left {
  position: relative;
  width: 63%;
  overflow: hidden;
  margin: 0 auto;
}
.main_visual .main_visual_left img {
  max-width: 100%;
  height: 100%;
  border-top-right-radius: 85px;
}
.main_visual .main_visual_left .photo {
  width: 100%;
  height: auto;
  display: block;
}
.main_visual .main_visual_left .main_visual_title {
  right: 20%;
  top: 65px;
  position: absolute;
  writing-mode: vertical-rl;
  height: 390px;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.64);
  letter-spacing: 6px;
}
.main_visual .main_visual_left .main_visual_title p:nth-of-type(2) {
  padding-top: 100px;
}
.main_visual .main_visual_left canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.main_visual .main_visual_right {
  width: 37%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main_visual .main_visual_right .right_top {
  margin-bottom: 17px;
}
.main_visual .main_visual_right .right_bottom p {
  font-size: 0.625rem;
  text-align: center;
}
.main_visual .main_visual_right .right_bottom p:nth-of-type(1) {
  font-size: 1.25rem;
}

.main_content {
  padding: 0 190px;
}
.main_content .company_explanation {
  position: relative;
}
.main_content .company_explanation .company_founding_reason, .main_content .company_explanation .our_thoughts {
  width: 720px;
  margin-bottom: 70px;
}
.main_content .company_explanation .company_founding_reason h1, .main_content .company_explanation .our_thoughts h1 {
  font-family: "Amatic SC", cursive;
  font-size: 3.15rem;
  margin-bottom: 15px;
}
.main_content .company_explanation .company_founding_reason p, .main_content .company_explanation .our_thoughts p {
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 25px;
  padding-left: 25px;
}
.main_content .company_explanation img {
  opacity: 0.4;
  position: absolute;
  right: 11%;
  top: 7px;
  width: 35%;
}
.main_content .our_memory {
  display: flex;
  margin: 230px 0;
  position: relative;
  height: 500px;
}
.main_content .our_memory .memory_image {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
}
.main_content .our_memory .memory_image img {
  width: 330px;
  height: 500px;
  object-fit: cover;
  position: absolute;
}
.main_content .our_memory .memory_image img:nth-of-type(1) {
  left: 17%;
  top: -25%;
}
.main_content .our_memory .memory_image img:nth-of-type(2) {
  right: 17%;
  top: 25%;
}
.main_content .our_memory .dotted_line_box {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(-16deg, #333333, #333333 7px, transparent 7px, transparent 13px, #333333 13px), repeating-linear-gradient(74deg, #333333, #333333 7px, transparent 7px, transparent 13px, #333333 13px), repeating-linear-gradient(164deg, #333333, #333333 7px, transparent 7px, transparent 13px, #333333 13px), repeating-linear-gradient(254deg, #333333, #333333 7px, transparent 7px, transparent 13px, #333333 13px);
  background-size: 2px calc(100% + 13.52px), calc(100% + 13.52px) 2px, 2px calc(100% + 13.52px), calc(100% + 13.52px) 2px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  animation: borderAnimation 0.8s infinite linear;
}
.main_content .our_memory p {
  position: absolute;
  right: 0;
  top: -11%;
  font-family: "Amatic SC", cursive;
  font-size: 5rem;
  transform: rotate(-20deg);
}

.menu_content {
  padding: 127px 190px 75px 190px;
  background: url("../image/circle.png") repeat;
  animation: fall 18s infinite linear;
  background-size: contain;
  background-color: #E3E2E0;
  position: relative;
}
.menu_content .menu_content_title {
  font-family: "Amatic SC", cursive;
  color: rgba(0, 0, 0, 0.4588235294);
  font-weight: bold;
  position: absolute;
  font-size: 4.25rem;
  top: 23px;
  transform: rotate(5deg);
}
.menu_content .menu_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 480px;
}
.menu_content .menu_list a {
  height: 230px;
  border-radius: 20px;
  background: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}
.menu_content .menu_list a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.23);
  border-radius: 20px;
}
.menu_content .menu_list a:hover::before {
  background-color: rgba(0, 0, 0, 0);
}
.menu_content .menu_list a div {
  text-align: center;
  font-family: "Amatic SC", cursive;
  z-index: 1;
}
.menu_content .menu_list a div p {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.menu_content .menu_list a div h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.menu_content .menu_list a:nth-of-type(1) {
  width: 55%;
  background-image: url("../image/S__55779361.jpg");
}
.menu_content .menu_list a:nth-of-type(2) {
  width: 43%;
  background-image: url("../image/25803090_s.jpg");
}
.menu_content .menu_list a:nth-of-type(3) {
  width: 49%;
  background-image: url("../image/2805271_s.jpg");
}
.menu_content .menu_list a:nth-of-type(4) {
  width: 49%;
  background-image: url("../image/AdobeStock_358963151_Preview.jpeg");
}

.container {
  padding: 0 190px;
}
.container .contact_page_title {
  width: 20%;
  height: 56px;
  display: flex;
  margin-bottom: 51px;
}
.container .contact_page_title img {
  width: 29%;
  height: 100%;
}
.container .contact_page_title .contact_title_right {
  margin-left: 9px;
  line-height: 27px;
}
.container .contact_page_title .contact_title_right p {
  font-family: "Amatic SC", cursive;
  font-size: 21px;
}
.container .contact_page_title .contact_title_right h3 {
  font-size: 23px;
}
.container .contact_tel, .container .contact_mail, .container .contact_line {
  margin-bottom: 80px;
}
.container .contact_tel h2, .container .contact_mail h2, .container .contact_line h2 {
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
.container .contact_tel .contact_detail, .container .contact_mail .contact_detail, .container .contact_line .contact_detail {
  display: flex;
  height: 50px;
  margin: 15px 20px;
  align-items: center;
}
.container .contact_tel .contact_detail img, .container .contact_mail .contact_detail img, .container .contact_line .contact_detail img {
  height: 100%;
}
.container .contact_tel .contact_detail .contact_detail_p, .container .contact_mail .contact_detail .contact_detail_p, .container .contact_line .contact_detail .contact_detail_p {
  margin-left: 29px;
  font-size: 1.25rem;
}
.container .contact_tel p, .container .contact_mail p, .container .contact_line p {
  line-height: 22px;
  margin-top: 25px;
}

.representatice_container {
  display: flex;
  justify-content: space-between;
  height: 690px;
  margin-bottom: 164px;
  padding: 0 0 0 100px;
}
.representatice_container .representatice_page_title {
  width: 32%;
  height: 56px;
  display: flex;
  margin-bottom: 51px;
}
.representatice_container .representatice_page_title img {
  width: 29%;
  height: 100%;
}
.representatice_container .representatice_page_title .representatice_title_right {
  margin-left: 9px;
  line-height: 27px;
}
.representatice_container .representatice_page_title .representatice_title_right p {
  font-family: "Amatic SC", cursive;
  font-size: 17px;
}
.representatice_container .representatice_page_title .representatice_title_right h3 {
  font-size: 23px;
}
.representatice_container .message {
  line-height: 22px;
}
.representatice_container .message_left {
  width: 45%;
  margin-right: 35px;
  height: 100%;
}
.representatice_container .message_left .contact_page_title {
  width: 32%;
  height: 56px;
  display: flex;
  margin-bottom: 37px;
}
.representatice_container .message_left .message_bottom {
  width: 100%;
  height: 56px;
  display: flex;
  margin-top: 32px;
}
.representatice_container .message_left .message_bottom a {
  width: 23%;
  height: 38px;
  margin: 0;
}
.representatice_container .message_left .message_bottom .representative_name {
  text-align: right;
  width: 77%;
  font-family: "Toppan Bunkyu Midashi Mincho";
}
.representatice_container .message_left .message_bottom .representative_name h4:nth-of-type(1) {
  margin-bottom: 5px;
}
.representatice_container .message_left .message_bottom .representative_name h4:nth-of-type(2) {
  font-size: 1.25rem;
}
.representatice_container .message_right {
  width: 50%;
  position: relative;
  display: flex;
}
.representatice_container .message_right img:nth-of-type(1) {
  position: absolute;
  height: 960px;
  top: -93px;
  left: -85px;
}
.representatice_container .message_right img:nth-of-type(2) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.career_container {
  display: flex;
  padding: 0 80px;
}
.career_container .career_left {
  width: 60%;
  position: relative;
}
.career_container .career_left .career_images {
  position: relative;
}
.career_container .career_left .career_images .career_representative_name {
  position: absolute;
  z-index: 2;
  top: 34%;
  right: 17%;
}
.career_container .career_left .career_images .career_representative_name p {
  font-size: 2.25rem;
  color: black;
  font-family: YuKyokasho Yoko;
  font-weight: bold;
  position: relative;
  z-index: 1;
  left: 1%;
}
.career_container .career_left .career_images .career_representative_name span {
  bottom: -4px;
  left: 44%;
  position: absolute;
  font-family: Caveat;
  font-size: 1.4rem;
  width: 70%;
  color: white;
}
.career_container .career_left .career_images img {
  width: 100%;
  position: relative;
  z-index: 1;
}
.career_container .career_left .career_images .background_image {
  background: rgba(121, 121, 121, 0.631372549);
  color: white;
  text-align: center;
  width: 71%;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.career_container .career_left .career_images .background_image p {
  font-family: YuKyokasho Yoko;
}
.career_container .career_left .center_content {
  align-items: center;
  position: absolute;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 1;
  right: -7%;
  width: 14%;
  height: 79%;
}
.career_container .career_left .center_content img {
  background: #F2F2F2;
  width: 100%;
  border-radius: 150%;
  padding: 14px;
}
.career_container .career_right {
  width: 40%;
  margin-left: 102px;
}
.career_container .career_right .career_content {
  margin-bottom: 36px;
  line-height: 24px;
}
.career_container .career_right .career_content .career_title {
  margin-bottom: 10px;
  background: #EAD817;
  width: 25%;
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
  font-size: 0.8rem;
}
.career_container .career_right .achievement {
  line-height: 28px;
}
.career_container .career_right .achievement .achievement_title {
  margin-bottom: 10px;
  background: #EAD817;
  width: 25%;
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 24px;
}
.career_container .career_right .achievement div {
  margin-bottom: 20px;
}
.career_container .career_right .achievement div p:nth-of-type(2) {
  padding-left: 10px;
}

.business_top_image {
  width: 100%;
  height: 530px;
  object-fit: cover;
}

.business_container {
  padding: 0 190px;
}
.business_container .business_page_title {
  width: 41%;
  height: 56px;
  display: flex;
  margin: 15px 0 50px 0;
}
.business_container .business_page_title img {
  width: 13%;
  height: 100%;
}
.business_container .business_page_title .business_title_right {
  margin-left: 9px;
  line-height: 27px;
}
.business_container .business_page_title .business_title_right p {
  font-family: "Amatic SC", cursive;
  font-size: 17px;
}
.business_container .business_page_title .business_title_right h3 {
  font-size: 23px;
}
.business_container .business_content {
  display: flex;
  justify-content: space-between;
}
.business_container .business_content .business_content_left {
  width: 41%;
  padding-top: 40px;
}
.business_container .business_content .business_content_left h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 33px;
}
.business_container .business_content .business_content_left p {
  line-height: 26px;
  margin-left: 24px;
}
.business_container .business_content .business_content_right {
  width: 47%;
}
.business_container .business_content .business_content_right img {
  width: 100%;
}

.business_introduction {
  margin-top: 150px;
  margin-bottom: 100px;
}
.business_introduction .introduction_title {
  display: flex;
  align-items: center;
  padding: 0 190px;
}
.business_introduction .introduction_title h2 {
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 10px;
  position: relative;
}
.business_introduction h1 {
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 190px;
}
.business_introduction .three_business {
  display: flex;
  flex-direction: column;
}
.business_introduction .three_business .homepage, .business_introduction .three_business .sns, .business_introduction .three_business .money {
  display: flex;
  padding: 75px 190px;
}
.business_introduction .three_business .homepage .homepage_left, .business_introduction .three_business .homepage .sns_left, .business_introduction .three_business .homepage .money_left, .business_introduction .three_business .sns .homepage_left, .business_introduction .three_business .sns .sns_left, .business_introduction .three_business .sns .money_left, .business_introduction .three_business .money .homepage_left, .business_introduction .three_business .money .sns_left, .business_introduction .three_business .money .money_left {
  width: 40%;
}
.business_introduction .three_business .homepage .homepage_left h2, .business_introduction .three_business .homepage .sns_left h2, .business_introduction .three_business .homepage .money_left h2, .business_introduction .three_business .sns .homepage_left h2, .business_introduction .three_business .sns .sns_left h2, .business_introduction .three_business .sns .money_left h2, .business_introduction .three_business .money .homepage_left h2, .business_introduction .three_business .money .sns_left h2, .business_introduction .three_business .money .money_left h2 {
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 62px;
  display: inline;
  font-family: "Amatic SC";
  color: #A36A00;
}
.business_introduction .three_business .homepage .homepage_left span, .business_introduction .three_business .homepage .sns_left span, .business_introduction .three_business .homepage .money_left span, .business_introduction .three_business .sns .homepage_left span, .business_introduction .three_business .sns .sns_left span, .business_introduction .three_business .sns .money_left span, .business_introduction .three_business .money .homepage_left span, .business_introduction .three_business .money .sns_left span, .business_introduction .three_business .money .money_left span {
  font-size: 1.5rem;
}
.business_introduction .three_business .homepage .homepage_left p, .business_introduction .three_business .homepage .sns_left p, .business_introduction .three_business .homepage .money_left p, .business_introduction .three_business .sns .homepage_left p, .business_introduction .three_business .sns .sns_left p, .business_introduction .three_business .sns .money_left p, .business_introduction .three_business .money .homepage_left p, .business_introduction .three_business .money .sns_left p, .business_introduction .three_business .money .money_left p {
  font-weight: bold;
}
.business_introduction .three_business .homepage .homepage_right, .business_introduction .three_business .homepage .sns_right, .business_introduction .three_business .homepage .money_right, .business_introduction .three_business .sns .homepage_right, .business_introduction .three_business .sns .sns_right, .business_introduction .three_business .sns .money_right, .business_introduction .three_business .money .homepage_right, .business_introduction .three_business .money .sns_right, .business_introduction .three_business .money .money_right {
  display: flex;
  width: 60%;
  align-items: center;
  line-height: 32px;
}
.business_introduction .three_business .homepage {
  border-top: 1px solid #A0A0A0;
}
.business_introduction .three_business .sns {
  border-top: 1px solid #A0A0A0;
  border-bottom: 1px solid #A0A0A0;
}
.business_introduction .three_business .money {
  border-bottom: 1px solid #A0A0A0;
}
.business_introduction .three_business a:hover {
  background: #bababa;
  color: white;
  transition: 0.5s;
}

.sub_content .sub_footer_icon {
  display: block;
  margin: 50px auto;
  position: relative;
}
.sub_content .line {
  background: black;
  width: 1px;
  height: 67px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.sub_content .slider {
  margin: 0 -13px; /* 一枚一枚の間隔を13pxに設定 */
}
.sub_content .slider img {
  width: 200px;
  height: 200px; /* 一枚の写真のサイズを240px × 240pxに設定 */
  margin: 0 13px; /* 一枚一枚の間隔を13pxに設定 */
  object-fit: cover;
}
.sub_content p {
  text-align: center;
  margin: 58px 0;
  font-weight: bold;
  font-family: sans-serif;
}
.sub_content a {
  display: block;
  background: #EBDC1F;
  width: 9%;
  margin: 0 auto;
  text-align: center;
  padding: 9px 0px;
  border-radius: 10px;
  font-family: "Amatic SC", cursive;
  font-size: 1.25rem;
}

footer {
  text-align: center;
  background: #E3E2E0;
}
footer .footer {
  display: flex;
  padding: 30px 190px;
  margin-top: 150px;
}
footer .footer .footer_left {
  width: 38%;
  text-align: center;
  border-right: 1px solid black;
}
footer .footer .footer_right {
  width: 52%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Amatic SC", cursive;
  font-size: 26px;
}
footer p {
  padding: 25px 0 10px 0;
  font-weight: bold;
  font-family: "Amatic SC", cursive;
  font-size: 1rem;
}

@keyframes wave {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes borderAnimation {
  from {
    background-position: 0 0, -13.52px 0, 100% -13.52px, 0 100%;
  }
  to {
    background-position: 0 -13.52px, 0 0, 100% 0, -13.52px 100%;
  }
}
@keyframes fall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700px 700px;
  }
}/*# sourceMappingURL=style.css.map */